
/*img {*/
/*    box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    width:100%;*/
/*    height:auto;*/
/*    padding: 1rem 0 1rem 0;*/
/*    background-color: #FFF;*/
/*}*/


/* ------------------------ ENTETE - FIL ARIANNE ------------------------ */
.accueil header{
    margin-top: 2.4em;
}

.article01 header,
.article02 header,
.article03 header,
.article04 header,
.article05 header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.article01 header{
    background-image: url("../../img/images_illustrations/images_her/her_article_01.jpg") ;
}

.article02 header{
    background-image: url("../../img/images_illustrations/visuels/suffering-tree.jpeg") ;
}

.article03 header{
    background-image: url("../../img/images_illustrations/visuels/mac+phone.jpeg") ;
}

.article04 header{
    background-image: url("../../img/images_illustrations/images_her/her_article_01.jpg") ;
}

.article05 header{
    background-image: url("../../img/images_illustrations/images_her/her_article_01.jpg") ;
}

.fil-arianne p:first-of-type:before{
    content: url("../../img/images_interface/navigation/home.svg");
    margin-right: 5px;

}

/* ------------------------ LOGO ------------------------ */

.logo01:after{
    content: url("../../img/illustrations/design_perso/logo/LOGO.svg");
    position: absolute;
    top: 0.7em;
    left: 1.2em;
}

.logo02{
    display: inline-block;
    text-indent: -9999px;
    content: url("../../img/illustrations/design_perso/logo/ACCUEIL - HEADER - Logo.svg");
    position: absolute;
    top: 0;
    left: 0.6em;
}

.logo01:before{
    content: url("../../img/illustrations/design_perso/accueil/tracé_accueil_01.svg");
    position: absolute;
    top: -1em;
    right: 3em;
    width: 510px;
    height: 507px;
    display: block;
    /*mix-blend-mode: luminosity;*/
}

.nav-bas{
    display: block;
    margin: 0 auto;
}

footer:before{
    content: url("../../img/images_interface/navigation/arrow_up.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

/* ------------------------ TAGLINE ------------------------ */
.tagline{
    position: absolute;
    margin: 50px 0 0 20px
}
.tagline h2{
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: right;
    margin: 0;
}


/* ------------------------ INTRODUCTION ------------------------ */

h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.accueil>article{*/
/*    background-image: url("../../img/images_illustrations/visuels/feuillerouge02.png");*/
/*    background-position: right center;*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/

/*}*/

.accueil>article img{
    float: right;
    height: 361px;
    width: auto;
}



/* ------------------------ TABLE DES MATIERES ------------------------ */
.table-des-matieres{
    background-image: url("../../img/illustrations/design_perso/articles/article_01/tracé_article_02.svg");
    background-size: cover;
    background-position: right center;
    background-repeat: repeat-x;
}

.puces{
    display: table-cell;
    vertical-align: bottom;
    position: absolute;
    left: -0.8em;
    margin-top: 10px;
}

.puces a{
    margin: -21px;
    padding: 0;
}

.chapter{
    display: table-cell;
}

.chapter a{
    margin-left: 20px;
}

.table-des-matieres a{
    padding: 10px 30px 30px 10px;
    display: block;
}


/* ------------------------ VISUELS + LEGENDE CAROUSEL ------------------------ */
.visuel{
    display: table-cell;
}

.visuel img{
    margin-left: 10px;
}

/* ------------------------ TWEETS ------------------------ */
.tweet h3{
    color: #F8F2F0;
    background-color: #BA5050;
    padding: 10px 0 10px 0;
    margin: 0;
}

.tweet h1{
    margin: -29px 0 0 0;
    color: #BA5050;
    font-size: 3em;
    line-height: 1em;
    position: absolute;
    left: -18px;
}

.tweet-text{
    padding: 10px 0 10px 0;
    font-size: 0.9em;
    font-family: Poppins, sans-serif;
    font-style: normal;
}

.legende{
    margin:  -15px 0 0 0;
    padding: 5px 5px 5px 44px;
    width: 185px;
    color: white;
    background-color: #E6D5D0;
    display: inline-block;
    font-size: 0.7em;
    font-family: "Poppins Light", sans-serif;
    font-style: normal;
    text-align: right;
}

.tweet_her,
.tweet_pollution,
.tweet_solutions{
    margin-bottom: 40px;
}

.tweet_element h2{
    margin: 0;
}

.tweet_element{
    display: flex;
}

.buttonR{
    background-image: url("../../img/illustrations/design_perso/accueil/tracé_accueil_03.svg");
    background-repeat: repeat-x;
    background-position: center center;
    padding: 50px;
    background-color: #F8F2F0;
}

.image-01,
.image-02,
.image-03{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-indent: -9999px;
    width: 63vw;
    height: auto;
}

.image-01{
    background-image: url("../../img/images_illustrations/images_her/her_tweet.jpg");
}

.image-02{
    background-image: url("../../img/images_illustrations/visuels/black_white_pollution.jpg");
}

.image-03{
    background-image: url("../../img/images_illustrations/visuels/allumette_conso.jpeg");
}


/* ------------------------ VIDEO ------------------------ */
.article article iframe{
    max-width: 100%;

}

/* ------------------------ FOOTER ------------------------ */
footer{
    background-image: url("../../img/illustrations/design_perso/trace_footer01.svg");
    background-repeat: no-repeat;
    background-position: bottom -100px right -125px;
    padding-top: 40px;
}

.footer-gauche{
    display: table-cell;
    padding: 0 1em;
    vertical-align: top;
}

.footer_gauche a img{
    vertical-align: top;
}

.footer_droite{
    display: table-cell;
    padding-right: 1em;
}

.footer_droite p:nth-of-type(1){
    display: inline-block;
    margin: 0;
    padding: 0 3.5em 0 1em;
    border: 1px solid #E6D5D0;
    border-radius: 0.2em;
}

.footer_droite p:nth-of-type(2){
    display: inline-block;
    margin: 0;
    padding: 0 0.5em;
    color: white;
    background-color: #BA5050;
    border-radius: 0.2em;
}


footer>p{
    color: #BA5050;
    opacity: 50%;
    font-size: 0.9em;
    margin: 1em 1em 0 1em;
}

footer h4{
    color: #BA5050;
    font-size: 0.8em;
}