@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500&display=swap');


html{
    font-size: 62.5%;
}
body{
    font-family: "Poppins Medium", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    font-variant: normal;                               /* variante de police */
    font-weight: normal;
    color: #707070;
}

h1,h2,h3{
    color: #A92424;
    margin: 1.2em;
}

h4{
    margin: 2em 1.2em;
}

p{
    color: #797979;
    margin: 1.2em;
    font-size: 1em;
}

h3{
    margin: 0.5em 1.2em 0 1.2em;
    color: #A92424;
}

.titre-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------ NORMALIZE ------------------------ */
a{
    text-decoration: none;
    color: #707070;
}

ul{
    list-style: none;
}

/* ------------------------ ENTETE ------------------------ */
/* Logo */
body>header>h1:first-of-type{
    text-transform: uppercase;
    margin-left: 1rem;
}

/* Article 01 */
.titre-article01{
    padding: 1em 0 0 0 ;

    mix-blend-mode: luminosity;
}
.titre-article01 h1{
    font-size: 5em;
    margin: 2em 0 0 0.3em ;
    line-height: 1em;
}

.titre-article01 h2{
    text-align: right;
}

.titre-article01 h1,
.titre-article01 h2{
    color: #D6C0A5;
    text-transform: lowercase;
}

.titre-article01 h2{
    font-size: 1.2em;
    margin: 0 4.2em 0 1.2em;
    padding-bottom: 0;
}

header{
    height: 375px;
}

/* Article autres */
.titre-article02,
.titre-article03,
.titre-article04,
.titre-article05{
    padding: 1em 0 0 0 ;
}

.titre-article02 h1,
.titre-article03 h1,
.titre-article04 h1,
.titre-article05 h1{
    font-size: 4em;
    margin: 2em 0 0 0.3em ;
    line-height: 1em;
}

.titre-article02{
    mix-blend-mode: hard-light;
}
.titre-article03,
.titre-article04,
.titre-article05{
    mix-blend-mode: normal;
}

.titre-article03 h1{
    color: #CC7C7C;
}

.titre-article02 h1:nth-of-type(2),
.titre-article03 h1:nth-of-type(2),
.titre-article04 h1:nth-of-type(2),
.titre-article05 h1:nth-of-type(2){
    margin: 0 0 0 0.3em ;
}

.titre-article02 h2,
.titre-article03 h2,
.titre-article04 h2,
.titre-article05 h2 {
    font-size: 1.2em;
    margin: 0 4.2em 0 1.2em;
    padding-bottom: 4em;
}

/* fil d'arianne */

.fil-arianne p{
    font-family: "Poppins Light", sans-serif;
    font-size: 0.6em;
    display: inline-block;
    padding: 5px 2px 5px 0;
    margin: 1.2em 0 0 2em;
}

.fil-arianne span{
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 1em;
}

/* ------------------------ TABLE DES MATIERES ------------------------ */

.table-des-matieres h3{
    letter-spacing: 8px;
    margin: 1.2em 0;
}


.puces>li>a{
    font-family: "Poppins SemiBold",sans-serif;
    line-height: 1em;
    color: #BA5050;
    font-size: 4em;
    margin-bottom: 25px;
    display: block;
}

/* ------------------------ LEGENDES & CHAPEAU ------------------------ */

.legende-img,
.chapeau{
    font-family: "Poppins Light", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    border: 0.01px solid #707070;
    margin-bottom: 50px;
}


.legende-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapeau{
    text-align: center;
    margin-bottom: 10px;
}

.article02>.article>p:nth-of-type(1){
    font-family: "Poppins Light", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    text-align: center;
}

/* ------------------------ INTERVIEW ------------------------ */

.article04>article>h3:nth-of-type(2),
.article04>article>h3:nth-of-type(3){
    text-transform: uppercase;
    border: 0.01px solid #707070;
    text-align: center;
    letter-spacing: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}