@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500&display=swap');


html{
    font-size: 62.5%;
}
body{
    font-family: "Poppins Medium", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    font-variant: normal;                               /* variante de police */
    font-weight: normal;
    color: #707070;
}

h1,h2,h3{
    color: #A92424;
}
/* Logo */
body>header>h1:first-of-type{
    text-transform: uppercase;
    margin-left: 1rem;
}

p{
    color: #797979;
}